.date-wrap{
	color:#999;
}

img{
	display:block;
}

.upcount{
	position:absolute;
	top:23px;
	left:0px;
	width:100%;
}

.downcount{
	position:absolute;
	top:5px;
	left:0px;
	width:100%;
}

.downicon{
	position:absolute;
	left:0px;
	top:29px;
	width:100%;
}

.upicon{
	position:absolute;
	left:0px;
	top:5px;
	width:100%;
}

.votebar{
	position:absolute;
	left:22px;
	top:17px;
}

.answer-content{
	position:relative;
	padding-left:70px;
	padding-bottom:20px;
}

.post-content{
	position:relative;
	padding-top:20px;
	padding-left:90px;
}

.uparrow{
	position:relative;
	height:50px;
	width:50px;
	margin-bottom:5px;
	color:#698ebf;
	border-radius: 3px;
	background: #eff6fa;
	border: 0;
}

.downarrow{
	position:absolute;
	left:0px;
	top:57px;
	height:50px;
	width:50px;
	margin-bottom:5px;
	color:#698ebf;
	border-radius: 3px;
	background: #eff6fa;
	border: 0;
}
.arrow{
	position:relative;
	height:50px;
	margin-bottom:5px;
	color:#698ebf;
	border-radius: 3px;
	background: #eff6fa;
	border: 0;
}


.answer-wrap{
	position:relative;
	padding:19px;
	border-bottom: 1px solid #eee;
}
#anonymous{
	position:relative;
	top:0px;
	left:650px;
}
.post-btn{
	position:relative;
	left:660px;
	top:0px;
}

#post-area{
	width:760px;
	resize:none;
}

