.loadmore{
	margin:10px;
}

.topic-element{
	padding-top:10px;
	padding-bottom:20px;
	border-bottom: 1px solid #eee;
}

.topic-image{

}

.topic-right{
	
}

.date-wrap{
	color:#999;
}


.editable-div{
	width:100%;
	overflow:auto;
}

.editable-element{
	margin-left:12px;
	margin-top:10px;
	border-bottom: 1px solid #eee;
}

.input-style{
	margin:0px;
	width:30%;
	display:inline;
}

img{
	display:block;
}

.upcount{
	position:absolute;
	top:23px;
	left:0px;
	width:100%;
}

.downcount{
	position:absolute;
	top:5px;
	left:0px;
	width:100%;
}

.downicon{
	position:absolute;
	left:0px;
	top:29px;
	width:100%;
}

.upicon{
	position:absolute;
	left:0px;
	top:5px;
	width:100%;
}

.votebar{
	position:absolute;
	z-index:1;
	left:22px;
	top:17px;
}

.answer-content{
	position:relative;
	padding-left:70px;
	padding-bottom:20px;
}

.post-content{
	position:relative;
	padding-top:20px;
	padding-left:90px;
}

.uparrow{
	display:block;
	position:relative;
	height:50px;
	width:50px;
	margin-bottom:5px;
	color:#698ebf;
	border-radius: 3px;
	background: #eff6fa;
	border: 0;
}

.downarrow{
	position:absolute;
	left:0px;
	top:57px;
	height:50px;
	width:50px;
	margin-bottom:5px;
	color:#698ebf;
	border-radius: 3px;
	background: #eff6fa;
	border: 0;
}
.arrow{
	position:relative;
	height:50px;
	margin-bottom:5px;
	color:#698ebf;
	border-radius: 3px;
	background: #eff6fa;
	border: 0;
}


.answer-wrap{
	position:relative;
	padding:19px;
	border-bottom: 1px solid #eee;
}
#anonymous{
	position:relative;
	top:0px;
	left:650px;
}
.post-btn{
	position:relative;
	left:300px;
	top:0px;
}

#post-area{
}

.answer-head{
	display:inline;
}
